<div id="map">
  <h1 class="mx-2" style="text-align: center;">Map</h1>
  <div
    *ngIf="issPosition.latitude !== '' && issPosition.longitude !== ''"
    id="coordinates"
    class="mx-2"
  >
    <p class="">Latitude: {{ issPosition.latitude }}</p>
    <p class="">Longitude: {{ issPosition.longitude }}</p>
  </div>
  <div
    *ngIf="issPosition.latitude !== '' && issPosition.longitude !== ''"
    id="gmap"
  >
    <google-map
      [center]="{ lat: +issPosition.latitude, lng: +issPosition.longitude }"
      [options]="{
        zoom: 4,
        zoomControl: false,
        mapTypeControl: false,
        streetViewControl: false,
        fullscreenControl: false
      }"
      [height]="590"
      [width]="1280"
    >
      <map-marker
        [position]="{ lat: +issPosition.latitude, lng: +issPosition.longitude }"
      ></map-marker>
    </google-map>
  </div>
</div>
