<div class="bg-secondary bg-gradient" id="sidebar">
  <h1 class="mx-2">ISS - Tracker</h1>
  <hr class="mx-2 text-white">
  <div class="list-group list-reset mx-2">
    <button
      class="btn btn-primary text-white animate__animated animate__pulse"
      (click)="trackIssPosition()"
    >
      Track ISS Now !
    </button>
  </div>
  <h4 class="mx-2 my-3">Track History 🕑</h4>
  <div class="list-group list-reset mx-2 my-3">
    <button
      *ngFor="let location of locationHistory; let i = index"
      class="list-group-item list-group-item-action"
    >
      {{ location.latitude }}, {{ location.longitude }}
    </button>
  </div>
</div>
